if echo "$XDG_CURRENT_DESKTOP" | grep -qi -e "xmonad" -e "qtile"; then
    /usr/bin/xsettingsd &
fi

USER="$(whoami)"
USER_SHELL="$(getent passwd "$USER" | cut -d: -f7)"

if echo "$USER_SHELL" | grep -q "bash"; then
    . "$HOME"/.bash_profile
elif echo "$USER_SHELL" | grep -q "zsh"; then
    . "$HOME"/.zshenv
fi
