theme = light:Kanagawa Lotus,dark:Kanagawa Wave
keybind = global:super+grave_accent=toggle_quick_terminal
quick-terminal-position = bottom
mouse-hide-while-typing = true

font-size = 16
font-family = JetBrains Mono
font-feature = calt,liga,dlig

clipboard-paste-protection = true
clipboard-trim-trailing-spaces = true

window-padding-x = 12
window-padding-y = 12
window-theme = system
window-padding-balance = true
window-inherit-working-directory = true

{{ if eq .chezmoi.os "darwin" -}}
font-thicken = true
macos-icon = xray
macos-option-as-alt = left
macos-titlebar-style = hidden
{{- end}}
