configuration {
  modi: "drun,run,ssh,filebrowser";
  font: "Inter Nerd Font 14";
  sidebar-mode: false;
  show-icons: true;
  hover-select: false;
  terminal: "alacritty";
  drun-match-fields: "name,exec";
  drun-display-format: "{name}";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
